body {
    background-color: beige;
}

.copy,
link s {
    text-align: center;
}

h3 {
    font-size: 30px;
}

#heading {
    font-size: 50px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.type {
    margin: 10px;
}